<div class="alert alert-danger text-center" role="alert" *ngIf="alerta">
    Error al obtener el clima
  </div>
<div class="container">
    <div class="row">
      <div class="col-lg-5" style="margin-top: 5rem;">
        <img class="img-fluid" [src]="urlImg"/>
      </div>
      <div class="col-lg-6 mt-5 text-center">
        <div class="ml-3 mb-4">
          <h1 style="font-size: 2.9rem;">What's the weather like?</h1>
          <h6>Obtenga información sobre el Clima ingresando su ciudad</h6>
        </div>
        <input type="text" class="form-control form-control-lg m-3 text-center" 
            placeholder="Ingrese ciudad..." [(ngModel)]="ciudad">
        <button class="btn btn-lg btn-info btn-block ml-3" [disabled]="ciudad == ''" (click)="obtenerClima()">
            OBTENER CLIMA
        </button>
        <div class="text-center mt-3" *ngIf="loanding">
            <div class="spinner-grow text-primary" role="status"></div>
            <div class="spinner-grow text-primary" role="status"></div>
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <div *ngIf="query" class="card m-3 ml-5">
            <div class="card-body">
                <h4>{{nombre}} - {{pais}}</h4>
                <p><b>Temperatura: </b>{{temperatura}}°</p>
                <p><b>Humedad: </b>{{humedad}}%</p>
                <p><b>Clima: </b>{{clima}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>